#top{
    background-color: rgb(0,53,128);
}


*{
    font-family: 'Oxygen', sans-serif;
}
body{padding: 0%;
    margin: 0%;
    font-family: 'Oxygen', sans-serif;
}
#navbar{
font-family: 'Oxygen', sans-serif;
font-size: .85em;
color: #fff;
margin: auto;
border: 0px solid red;
padding-bottom: 1.25em;
width:85%
}
#navbar a{
    color: #fff;
    text-decoration: none;  
}
.ri-question-line{
  font-size: 2em;

  }

  #navbar>:last-child i{
  
    margin: 0 5px;
    font-size: 1.3em;
  }
 
#navbar>:first-child a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid  #fff;
    padding: .6em;
}

#navbar>:first-child{
display: flex;
justify-content: space-between;
padding:1px 1%;

}
#navbar>div>div{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img{
    border-radius: 50%;
    height: 35%;
  
}

#navbar .bcWhite{
    color: rgb(0,113,194);
    font-weight:600;
    background-color: #fff;
 
}

#navbar>:last-child{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar>:last-child>a:first-child{
    border: 1px solid white;
  background-color: rgb(26,74,141);
    padding: 9px ;
    border-radius: 10em;
}
#navbar>:last-child a{
    display: flex;
    align-items: center;
    padding:9px;
    border-radius: 50px;
    justify-content: space-between;
}

#navbar>:last-child>:hover{
 background-color: rgb(26,74,141);
 
}
#navbar>:last-child>:active{
   border: 2px solid rgba(248, 248, 248, 0.100);
   background-color: rgb(25, 78, 151);
}

@media all and (min-width:660px) and (max-width:1000px){
#navbar{
    width: 95%;
}
#navbar>div>div:last-child{
width: 60%;
}
#navbar>div:last-child{
    width: 100%;
 
}
.ri-question-line{
    font-size: 1.5em;
  
    }

}

@media all and (min-width:100px) and (max-width:669px){
  #navbar{
    font-size:.50em ;
    padding-bottom: .50em;
    width: 98%;
  }  

  #navbar>:last-child i{
  
    margin: 0 .25em;
    font-size: 1em;
  }

#navbar img{
    width: 1.5em;
    height: 1.5em;
}
  #navbar>:first-child a{
    font-size: .5em;
    padding: .5em;
    border-radius: 2px;
}

#navbar>div>div{
    width:50%;
}

#navbar>:last-child{
    width: 90%;
}

#navbar>:last-child>a:first-child{
    padding: .5em .5em;
}

#navbar>:last-child>a{
padding: .5em .5em;
font-size: .5em;
}

#navbar>:last-child>:active{
    border: 1px solid rgba(248, 248, 248, 0.100);

 }

}

